.rocketlink:link {
  color:black;
  text-decoration:none;
}

.rocketlink:visited {
  color:black;
  text-decoration:none;
}

.rocketlink:active {
  color:black;
  text-decoration:none;
}

.rocketlink:hover {
  color:black;
  text-decoration:none;
}

.joinbox {
  text-align: center;
  margin-top: 5px;
  width: 100%;
}

.joinboxcombo {
  min-width: 100%;
  max-width: 100%;
}

.profilebox {
  text-align: center;
  margin-top: 5px;
}

.optsmenu {
  text-align: left;
}

.viewer {
  min-height: 60%;
  max-height: 60%;
  overflow-y: scroll;
}

.chatbox {
  height: 100%;
}

.leftbox {
  height: 100%;
}

.uniquerow {
  height: 100%;
}

.box {
  height: 100%;
}

html {
  height: 100%;
}

body {
  height: 100%;
}
