<!doctype html>
<html lang="en" ng-app>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/chat.css">
    <script src="/js/angular.min.js"></script>
    <script src="/js/octochat.min.js"></script>
    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <title>Chatpage</title>
  </head>
  <body>
    <script>
      var socket = io.connect('http://' + window.location.host);

      var send = function(msg) {
        socket.emit('message', msg);
      };

      var writeText = function(type, text) {
        var div = document.createElement('div');

        if(type=='info') div.className = 'alert alert-info';
        if(type=='message') div.className = 'alert alert-success';

        //div.appendChild(document.createTextNode(username + ':'));
        //div.appendChild(document.createElement('br'));
        div.appendChild(document.createTextNode(text));

        document.getElementById('viewer').appendChild(div);

      };

      socket.on('infos', function(data) {
        writeText('info', data);
      });
      socket.on('message', function(author, message) {
        writeText('message', author + ": " + message);
      });

      var join = function(room) {
        socket.emit('join', room);
      };
    </script>
    <div class="container-fluid box">
    <div class="row-fluid uniquerow">
      <div class="span4 leftbox">
        <div ng-controller="UserController">
          <div>
            <div class="profilebox">
              <img ng-show="User.avatarUrl" src="{{User.avatarUrl}}">
              <div ng-show="User.loginName" class="btn-group">
                <button class="btn btn-info dropdown-toggle" data-toggle="dropdown" href="#">
                 {{User.loginName}}
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu optsmenu">
                  <li><a href="#" ng-click="update()"><i class="icon-refresh"></i> Refresh</a></li>
                  <li><a href="/logout"><i class="icon-signout"></i> Logout</a></li>
                </ul>
              </div>
            </div>
            <div class="joinbox">
              <div class="input-append joinboxcombo">
                <input class="span2" placeholder="Join room..." id="toJoinRoom" type="text">
                <span class="add-on"><a href="#" onclick="join(document.getElementById('toJoinRoom').value)" class="rocketlink"><i class="icon-rocket"></i></a></span>
              </div>
            </div>
          </div>
          <div ng-hide="User.loginName">
            <a ng-click="update()">Have you ever updated your informations?</a>
          </div>
          <div ng-controller="RoomController">
          <ul class="nav nav-list">
            <li class="nav-header">Repos</li>
            <li ng-repeat="(repoName, repo) in User.repos">
            <ng:switch on="repo.enabled">
            <a ng:switch-when="false" href="#" ng-click="enable(repoName)">
              <span class="label label-important">Off </span>
              {{repoName}}
            </a>
            <a ng:switch-when="true" href="#" ng-click="disable(repoName)">
              <span class="label label-success">On </span>
              {{repoName}}
            </a>
            </ng:switch>
            </li>
          </ul>
          <ul class="nav nav-list">
            <li class="nav-header">Rooms</li>
          </ul>
          </div>
        </div>
      </div>
      <div class="span8 chatbox">
          <div class="viewer well" id="viewer">
          </div>
          <div class="editor">
            <input type="TEXT" id="text"><input type="BUTTON" onclick="send(document.getElementById('text').value)" value="invia">
          </div>
      </div>
    </div>
    </div>
  </body>
</html>
