<!doctype html>
<html lang="en" ng-app>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/chat.css">
    <script src="/js/angular.min.js"></script>
    <script src="/js/octochat.min.js"></script>
    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <title>Chatpage</title>
  </head>
  <body>
    <div class="container">
    <div class="row">
      <div class="span4">
        <div ng-controller="UserController">
          <div>
            <div class="profilebox">
              <img ng-show="User.avatarUrl" src="{{User.avatarUrl}}">
              <div ng-show="User.loginName" class="btn-group">
                <button class="btn btn-info dropdown-toggle" data-toggle="dropdown" href="#">
                 {{User.loginName}}
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu optsmenu">
                  <li><a href="#" ng-click="update()"><i class="icon-refresh"></i> Refresh</a></li>
                  <li><a href="/logout"><i class="icon-signout"></i> Logout</a></li>
                </ul>
              </div>
            </div>
            <div class="joinbox">
              <div class="input-append">
                <input class="span2" placeholder="Join room..." type="text">
                <span class="add-on"><a href="#" class="rocketlink"><i class="icon-rocket"></i></a></span>
              </div>
            </div>
          </div>
          <div ng-hide="User.loginName">
            <a ng-click="update()">Have you ever updated your informations?</a>
          </div>
          <div ng-controller="RoomController">
          <ul class="nav nav-list">
            <li class="nav-header">Repos</li>
            <li ng-repeat="(repoName, repo) in User.repos">
            <ng:switch on="repo.enabled">
            <a ng:switch-when="false" href="#" ng-click="enable(repoName)">
              <span class="label label-important">Off </span>
              {{repoName}}
            </a>
            <a ng:switch-when="true" href="#" ng-click="disable(repoName)">
              <span class="label label-success">On </span>
              {{repoName}}
            </a>
            </ng:switch>
            </li>
          </ul>
          <ul class="nav nav-list">
            <li class="nav-header">Rooms</li>
          </ul>
          </div>
        </div>
      </div>
      <div class="span8">
      </div>
    </div>
    </div>
  </body>
</html>
