<!doctype html>
<html lang="en" ng-app>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <script src="/js/angular.min.js"></script>
    <script src="/js/octochat.min.js"></script>
    <title>Chatpage</title>
  </head>
  <body>
    <div ng-controller="UserController">
      <p ng-show="User.avatarUrl">
      {{User.loginName}}
      <img src="{{User.avatarUrl}}">
      </p>
      <a href="/logout">logout</a>
    </div>
    <div class="row">
      <div class="span4">
        <div ng-controller="RepoListController">
          <ul>
            <li ng-repeat="repo in repos">
              {{repo.name}}
            </li>
          </ul>
        </div>
      </div>
      <div class="span8">
      </div>
    </div>
  </body>
</html>
