<HTML>
  <head>
    <title>OctoChat</title>
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/custom.css" rel="stylesheet">
  </head>
  <body>
    <div class="container-narrow">
      <div class="jumbotron">
        <h1>OctoChat</h1>
        <div>
          Say <em>meow</em> to your repo friends
        </div>
        <div>
          <a href="https://github.com/login/oauth/authorize?client_id=cf150584080448a4c1d7&scope=user,repo">
            <img src="http://sisyphus-js.herokuapp.com/assets/github_icon-224de83a21f067b21c5d3ef55c3c0d61.png" alt="github logo" width="128" height="128" title="Login with GitHub"/>
          </a>
        </div>
      </div>
    </div>
  </body>
</HTML>
