<html lang="en">
  <head>
    <title>OctoChat</title>
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/custom.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/font-awesome.min.css">
  </head>
  <body background="http://luxehdwallpaper.com/wallpaper/2012/10/minimalistic-vector-funny-cartoonish-fun-art-1280x800-hd-wallpaper.png">
    <div class="container-narrow">
      <div class="jumbotron hero-unit">
        <h1>OctoChat</h1>
        <div>
          Say <em>meow</em> to your repo friends
        </div>
        <div>
          <a href="https://github.com/login/oauth/authorize?client_id=cf150584080448a4c1d7&scope=user,repo">
            <i class="icon-github icon-4x"></i>
          </a>
        </div>
      </div>
    </div>
  </body>
</html>
